.comp {
    background-color:#0e8ef7;
    padding-top: 30px;
}

.grid-container {
    padding-top: 40px;
    padding-bottom:40px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, 20rem);
    /* grid-template-columns: 20px repeat(6, 1fr) 20px; */
    /* grid-template-columns: repeat(5, 1fr 2fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #2196F3; */
    /* padding: 10px; */
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

.list {
    font-family: OCR A Std, monospace;
	font-size: 2rem;
	/* list-style-position: inside; */
	display: table;
	margin: 0 auto;
    list-style: none;
}
h1 {
    font-size: 2rem;
    text-align: center;
    
}

h1 a {
    font-size: 3rem;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    iframe {
        width: 300px;
		height: 300px;
    }
    h1 {
        font-size: 1.5rem;
    }
}