.grid-container {
    padding-top: 70px;
    padding-bottom:40px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 50px 50px;
    grid-template-columns: repeat(auto-fit, 20rem);
    /* grid-template-columns: 20px repeat(6, 1fr) 20px; */
    /* grid-template-columns: repeat(5, 1fr 2fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #2196F3; */
    background-color:  #2196F3;
    /* padding: 10px; */
    justify-content: center;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
  }
  .Headshot {
      max-width: 300px;
      max-height: 400px;
  }

img {
    width: 80%;
    height: auto;
    /* max-width: 300px; */
}
a {
    text-decoration: none;
}

.quote {
    font-size: 1.5rem;
    font-family: Tahoma, sans-serif;
    color: rgb(255, 255, 255);

    /* text-align: center;
    align-items: center;
    justify-content: center; */
}



@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}